<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Horarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
</head>
<body class="container mt-4">
    <h1>Tabla de horarios</h1>

    <table>
        <thead>
            <tr>
                <th>Día</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
            </tr>
        </thead>
        <tablabody>
            <!-- Itera sobre la lista de horarios (modelo: horarios) -->
            <tr th:each="horario : ${horario}">
                <td th:text="${horario.dia}"></td>
                <td th:text="${horario.horaInicio}"></td>
                <td th:text="${horario.horaFin}"></td>
            </tr>

            <!-- Mensaje cuando no hay horarios -->
            <tr th:if="${#lists.isEmpty(horario)}">
                <td class="empty" colspan="6">No hay horarios disponibles</td>
            </tr>
        </tablabody>
    </table>
    <a href="/alumno/inicio" class="btn btn-dark mt-3">Volver</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>